name: Release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: "pnpm"

      - run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" >> .npmrc

      - name: Verify npm token
        run: npm whoami

      - run: pnpm install --frozen-lockfile
      - run: pnpm build

      - run: pnpm publish --no-git-checks
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
